/* css/prompt.css */
[data-prompt] {
  --prompt-background-color-backdrop: black;
  --prompt-background-opacity-backdrop-dark: 0.5;
  --prompt-background-opacity-backdrop-medium: 0.2;
  --prompt-background-opacity-backdrop-light: 0.07;
  --prompt-transition-timing-function-backdrop: ease-in-out;
  --prompt-transition-timing-function-content: ease-in-out;
  --prompt-transition-duration-content: 180ms;
  --prompt-fast-transition-duration-content: 140ms;
  --prompt-transition-duration-backdrop: var(--prompt-transition-duration-content);
  --prompt-fast-transition-duration-backdrop: var(--prompt-fast-transition-duration-content);
  --drawer-width: 320px;
  --prompt-z-index-backdrop: 98;
  --prompt-z-index-touch: 99;
  --prompt-z-index-menu-content: 100;
  --prompt-z-index-drawer-content: 200;
  --prompt-z-index-dialog-content: 300;
}
[data-prompt]:not([data-ispush]) [data-prompt-content] {
  visibility: hidden;
}
[data-prompt] [data-backdrop],
[data-prompt] [data-content],
[data-prompt] [data-drawer-content] {
  transition-duration: 0ms;
}
[data-prompt] > input[type=checkbox]:checked + [data-prompt-content] {
  visibility: visible;
}
[data-prompt] [data-touch] {
  pointer-events: none;
}
[data-prompt] > input[type=checkbox]:checked + [data-prompt-content] [data-touch] {
  pointer-events: initial;
}
[data-prompt] input[type=checkbox][aria-hidden=true] {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}
[data-prompt] > input[type=checkbox] {
  transition-property: opacity;
  transition-duration: 0ms;
  opacity: 1;
}
[data-prompt] > input[type=checkbox] {
  transition-delay: var(--prompt-transition-duration-content);
}
[data-prompt][data-isfast] > input[type=checkbox] {
  transition-delay: var(--prompt-fast-transition-duration-content);
}
[data-prompt] > input[type=checkbox]:checked {
  opacity: 0.5;
}
[data-prompt] > input[type=checkbox][data-ishiding] {
  opacity: 0;
}
[data-prompt]:not([data-isdrawer]):not([data-islocal]) {
  position: relative;
}
[data-prompt] [data-backdrop] {
  pointer-events: none;
}
[data-prompt] [data-content]:not([aria-role=menu]) {
  animation-name: unset;
  animation-duration: unset;
  animation-timing-function: unset;
}
[data-prompt]:not([data-isdrawer]) [data-content] {
  transition-property: opacity, visibility;
  transition-timing-function: var(--prompt-transition-timing-function-content);
  opacity: 0;
}
[data-prompt]:not([data-isdrawer]) [data-content]:not([aria-role=menu]) {
  z-index: var(--prompt-z-index-dialog-content);
}
[data-prompt][data-isdrawer] [data-content]:not([aria-role=menu]) {
  z-index: var(--prompt-z-index-drawer-content);
}
[data-prompt] [data-content][aria-role=menu] {
  z-index: var(--prompt-z-index-menu-content);
}
[data-prompt] [data-touch],
[data-prompt] [data-backdrop] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
[data-prompt] [data-touch] {
  z-index: var(--prompt-z-index-touch);
}
[data-prompt] [data-backdrop] {
  z-index: var(--prompt-z-index-backdrop);
}
[data-prompt] [data-backdrop] {
  background: var(--prompt-background-color-backdrop);
  opacity: 0;
  transition-property: opacity, visibility;
  transition-timing-function: var(--prompt-transition-timing-function-backdrop);
}
[data-prompt]:not([data-isfast]) > input[type=checkbox][data-ismounted] + [data-prompt-content] [data-backdrop] {
  transition-duration: var(--prompt-transition-duration-backdrop);
}
[data-prompt][data-isfast] > input[type=checkbox][data-ismounted] + [data-prompt-content] [data-backdrop] {
  transition-duration: var(--prompt-fast-transition-duration-backdrop);
}
[data-prompt] > input[type=checkbox]:checked + [data-prompt-content] [data-backdrop] {
  opacity: var(--prompt-background-opacity-backdrop-medium);
}
[data-prompt] > input[type=checkbox]:checked + [data-prompt-content] [data-backdrop][data-isdark] {
  opacity: var(--prompt-background-opacity-backdrop-dark);
}
[data-prompt] > input[type=checkbox]:checked + [data-prompt-content] [data-backdrop][data-islight] {
  opacity: var(--prompt-background-opacity-backdrop-light);
}
[data-prompt]:not([data-isdrawer]) [data-content]:not([aria-role=menu]) {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  overflow: auto;
  margin: 0 auto;
}
[data-prompt]:not([data-isdrawer]) [data-content]:not([aria-role=menu]):not(dialog) {
  left: 50%;
  transform: translate(-50%, -50%);
}
[data-prompt]:not([data-isfast]) > input[type=checkbox][data-ismounted] + [data-prompt-content] [data-content] {
  transition-duration: var(--prompt-transition-duration-content);
}
[data-prompt][data-isfast] > input[type=checkbox][data-ismounted] + [data-prompt-content] [data-content] {
  transition-duration: var(--prompt-fast-transition-duration-content);
}
[data-prompt]:not([data-isdrawer]) input[type=checkbox]:checked + [data-prompt-content] [data-content] {
  opacity: 1;
}
[data-prompt][data-isdrawer] [data-content] {
  transition-property: transform, visibility;
  transition-timing-function: var(--prompt-transition-timing-function-content);
  position: fixed;
  height: 100%;
  top: 0;
}
[data-prompt][data-isdrawer] [data-drawer-content] {
  flex-shrink: 0;
  overflow-y: auto;
  height: inherit;
  transition-property: all;
  transition-timing-function: var(--prompt-transition-timing-function-content);
}
[data-prompt][data-isdrawer]:not([data-isfast]) > input[type=checkbox][data-ismounted] + [data-prompt-content] [data-content],
[data-prompt][data-isdrawer]:not([data-isfast]) > input[type=checkbox][data-ismounted] + [data-prompt-content] [data-drawer-content] {
  transition-duration: var(--prompt-transition-duration-content);
}
[data-prompt][data-isdrawer][data-isfast] > input[type=checkbox][data-ismounted] + [data-prompt-content] [data-content],
[data-prompt][data-isdrawer][data-isfast] > input[type=checkbox][data-ismounted] + [data-prompt-content] [data-drawer-content] {
  transition-duration: var(--prompt-fast-transition-duration-content);
}
[data-prompt][data-isdrawer] [data-content] {
  left: 0;
  right: auto;
  transform: translateX(-100%);
}
[dir=rtl] [data-prompt][data-isdrawer] [data-content] {
  left: auto;
  right: 0;
  transform: translateX(100%);
}
[data-prompt][data-isdrawer][data-isfarside] [data-content] {
  left: auto;
  right: 0;
  transform: translateX(100%);
}
[dir=rtl] [data-prompt][data-isdrawer][data-isfarside] [data-content] {
  left: 0;
  right: auto;
  transform: translateX(-100%);
}
[data-prompt][data-isdrawer] input[type=checkbox]:checked + [data-prompt-content] [data-content],
[dir=rtl] [data-prompt][data-isdrawer] input[type=checkbox]:checked + [data-prompt-content] [data-content] {
  transform: translateX(0);
}
[data-prompt][data-islocal] [data-touch],
[data-prompt][data-islocal] [data-backdrop],
[data-prompt][data-isdrawer][data-islocal] [data-content] {
  position: absolute;
  z-index: initial;
}
[data-prompt][data-ispush] + [data-prompt-content] [data-touch],
[data-prompt][data-ispush] + [data-prompt-content] [data-backdrop] {
  z-index: 1;
  position: absolute;
}
[data-prompt][data-isdrawer][data-ispush] [data-content] {
  position: relative;
  z-index: initial;
  display: flex;
  width: calc(100% + var(--drawer-width));
}
[data-prompt][data-isdrawer][data-ispush] [data-content] {
  padding-left: var(--drawer-width);
  padding-right: 0;
}
[data-prompt][data-isdrawer][data-ispush][data-isfarside] [data-content] {
  padding-left: 0;
  padding-right: var(--drawer-width);
}
[dir=rtl] [data-prompt][data-isdrawer][data-ispush] [data-content] {
  padding-left: 0;
  padding-right: var(--drawer-width);
}
[dir=rtl] [data-prompt][data-isdrawer][data-ispush][data-isfarside] [data-content] {
  padding-left: var(--drawer-width);
  padding-right: 0;
}
[data-prompt][data-isdrawer][data-ispush] [data-drawer-content] {
  position: absolute;
  top: 0;
  overflow-y: auto;
  height: inherit;
  z-index: var(--prompt-z-index-drawer-content);
  width: 100%;
  max-width: var(--drawer-width);
}
[data-prompt][data-isdrawer][data-ispush] [data-drawer-content] {
  left: 0;
  right: auto;
}
[data-prompt][data-isdrawer][data-ispush][data-isfarside] [data-drawer-content] {
  left: auto;
  right: 0;
}
[dir=rtl] [data-prompt][data-isdrawer][data-ispush] [data-drawer-content] {
  left: auto;
  right: 0;
}
[dir=rtl] [data-prompt][data-isdrawer][data-ispush][data-isfarside] [data-drawer-content] {
  left: 0;
  right: auto;
}
[data-prompt][data-isdrawer][data-ispush] [data-content] {
  transform: translateX(calc(-1 * var(--drawer-width)));
}
[data-prompt][data-isdrawer][data-ispush][data-isfarside] [data-content] {
  flex-direction: row-reverse;
  transform: translateX(0);
}
[data-prompt][data-isdrawer][data-ispush] input[type=checkbox]:checked + [data-prompt-content] [data-content] {
  transform: translateX(0);
}
[data-prompt][data-isdrawer][data-ispush][data-isfarside] input[type=checkbox]:checked + [data-prompt-content] [data-content] {
  transform: translateX(calc(-1 * var(--drawer-width)));
}
[dir=rtl] [data-prompt][data-isdrawer][data-ispush] [data-content] {
  transform: translateX(var(--drawer-width));
}
[dir=rtl] [data-prompt][data-isdrawer][data-ispush] input[type=checkbox]:checked + [data-prompt-content] [data-content] {
  transform: translateX(0);
}
[dir=rtl] [data-prompt][data-isdrawer][data-ispush][data-isfarside] [data-content] {
  transform: translateX(0);
}
[dir=rtl] [data-prompt][data-isdrawer][data-ispush][data-isfarside] input[type=checkbox]:checked + [data-prompt-content] [data-content] {
  transform: translateX(var(--drawer-width));
}
