/* css/primer_live.css */
details > summary + div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 15px));
  z-index: 999;
  overflow: auto;
  margin: 0 auto;
  max-height: 80vh;
  max-width: 90vw;
}
